.head {
  font-family: "molot";
  margin-right: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}
.head h2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 10%;
          flex: 0 0 10%;
  color: #20cdb9;
}
.head p {
  margin-right: 10%;
  word-spacing: -4px;
  letter-spacing: -1px;
  font-size: 14px;
  font-family: "rubik mono";
  display: grid;
  grid-template-columns: 150px 60px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  color: white;
}
.head p .active::after {
  content: "";
  left: 0px;
}
.head p span {
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.head p span::after {
  content: "";
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  position: absolute;
  background-color: white;
  height: 2px;
  width: 90%;
  left: -200px;
  top: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 2px;
  border: 1px solid white;
}
.head p #soon {
  width: 65px;
}
@media (max-width: 500px) {
  .head {
    margin-left: 5%;
    margin-right: 5%;
  }
  .head h2 {
    margin-right: 20px;
  }
}
@media (max-width: 380px) {
  .head {
    height: 70px;
  }
  .head p {
    margin-top: 40px;
    margin-right: 0;
    grid-template-columns: 150px;
    grid-template-rows: repeat(2, 30px);
  }
}

main {
  margin: 30px;
  margin-top: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .afishaBlock {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0;
  width: 1165px;
}
main .afishaBlock .poster {
  margin: 20px;
  position: relative;
  aspect-ratio: 2/3;
  -webkit-box-shadow: 0px 0px 8px #20cdb9, inset 0px 0px 8px #20cdb9;
          box-shadow: 0px 0px 8px #20cdb9, inset 0px 0px 8px #20cdb9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 8px #20cdb9;
          box-shadow: 0px 0px 8px #20cdb9;
  border: 4px solid #20cdb9;
  width: 250px;
}
main .afishaBlock .poster img {
  height: 100%;
}
main .afishaBlock .poster .infoP {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 205, 185, 0.6352941176);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  display: grid;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
  grid-template-rows: 190px 70px;
  font-size: 15px;
  font-family: "molot";
}
main .afishaBlock .poster .infoP p {
  padding: 5px;
  text-align: begin;
  margin: 0;
}
main .afishaBlock .poster .infoP p .janr {
  color: rgb(105, 104, 104);
  display: block;
  text-shadow: 0 0 4px rgb(180, 180, 180);
  margin-bottom: 5px;
}
main .afishaBlock .poster .infoP p .name {
  width: 100%;
  color: white;
  display: block;
  font-size: 1.5em;
  text-align: left;
  text-shadow: 0 0 4px rgb(0, 0, 0);
}
main .afishaBlock .poster .infoP a {
  -webkit-box-shadow: 0px 0px 8px #20cdb9, inset 0px 0px 8px #20cdb9;
          box-shadow: 0px 0px 8px #20cdb9, inset 0px 0px 8px #20cdb9;
  font-size: 15px;
  height: 35px;
  width: 90%;
  padding: 5px;
  border: 2px solid #20cdb9;
  border-radius: 10px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #20cdb9;
  -webkit-transition: color 0.2s, background-color 0.2s;
  -o-transition: color 0.2s, background-color 0.2s;
  transition: color 0.2s, background-color 0.2s;
  background-color: rgba(0, 0, 0, 0.422);
}
main .afishaBlock .poster .infoP a:hover {
  color: white;
  background-color: rgba(32, 205, 185, 0.808);
  border-color: rgb(175, 231, 225);
}
@media (max-width: 375px) {
  main .afishaBlock .poster .infoP {
    grid-template-rows: 160px 60px;
    font-size: 12px;
    padding: 11px;
  }
}
main .afishaBlock .poster:hover .infoP {
  opacity: 1;
}
@media (max-width: 375px) {
  main .afishaBlock .poster {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 160px;
            flex: 0 0 160px;
  }
}
@media (max-width: 1200px) {
  main .afishaBlock {
    grid-template-columns: repeat(3, 1fr);
    width: 690px;
  }
  main .afishaBlock .poster {
    width: 190px;
  }
}
@media (max-width: 770px) {
  main .afishaBlock {
    grid-template-columns: repeat(2, 1fr);
    width: 460px;
  }
}
@media (max-width: 480px) {
  main .afishaBlock {
    width: 230px;
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 480px) {
  main {
    margin: 0px;
  }
}