body {
  background-color: #1A181D;
  box-sizing: border-box;
  background-image: url(../images/dots.svg);
  background-size: 100vw 120vh;
}

a {
  font-family: "rubik mono";
  text-decoration: none;
}

.main_contaner {
  box-shadow: 0px 0px 8px rgb(32, 205, 185), inset 0px 0px 8px rgb(32, 205, 185);
  position: absolute;
  left: 0;
  border-color: rgb(32, 205, 185);
  background: rgba(0, 0, 0, 0.2);
  border: 4px solid rgb(32, 205, 185);
  border-radius: 10px;
  margin: 10px;
  width: calc(100% - 34px);
  padding: 0;
}

nav {
  box-sizing: border-box;
  box-shadow: 0px 0px 8px rgb(32, 205, 185), inset 0px 0px 8px rgb(32, 205, 185);
  height: 70px;
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 4px solid;
  border-color: rgb(32, 205, 185);
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav img {
  margin-left: 5px;
  height: 80%;
}
nav p {
  margin: -2px;
  font-family: "ROBO";
  font-style: normal;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex: 2 0 250px;
}
@media (max-width: 460px) {
  nav {
    height: 50px;
  }
  nav p {
    font-size: 24px;
  }
}

.burgerI {
  z-index: 0;
  position: absolute;
  height: 50px;
  display: none;
  cursor: pointer;
  right: 20px;
  transition: 0.3s;
}
@media (max-width: 999px) {
  .burgerI {
    display: block;
    position: realtive;
  }
}
@media (max-width: 460px) {
  .burgerI {
    height: 35px;
    right: 5px;
  }
}

#Bclose {
  right: 0;
  position: relative;
}

#burger_container {
  box-shadow: 0px 0px 8px rgb(32, 205, 185), inset 0px 0px 8px rgb(32, 205, 185);
  z-index: 1;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  flex: 3 1 600px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  transition: left 0.8s;
}
#burger_container a {
  box-sizing: border-box;
  z-index: 2;
  box-shadow: 0px 0px 8px rgb(32, 205, 185), inset 0px 0px 8px rgb(32, 205, 185);
  font-size: 20px;
  line-height: 20px;
  white-space: nowrap;
  border-left: 4px rgb(32, 205, 185) solid;
  flex: 1 0 30%;
  display: grid;
  align-items: center;
  justify-content: center;
  color: rgb(32, 205, 185);
  transition: color 0.2s, background-color 0.2s;
}
#burger_container a:hover {
  color: white;
  background-color: rgba(32, 205, 185, 0.6);
}
@media (max-width: 999px) {
  #burger_container {
    border-radius: 5px;
    border: 3px solid rgb(32, 205, 185);
    margin: 0;
    padding: 8px;
    position: fixed;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 10%);
    justify-items: end;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100vh;
    background-color: #1A181D;
    opacity: 0.95;
    z-index: 4;
    left: -120vh;
  }
  #burger_container a {
    position: relative;
    margin: 5px;
    width: calc(100% - 25px);
    border: 3px solid rgb(32, 205, 185);
    border-radius: 5px;
  }
}
@media (max-width: 460px) {
  #burger_container {
    width: 100vw;
  }
}

#popular {
  background-color: #000000;
  position: relative;
  box-shadow: 0px 0px 8px rgb(32, 205, 185);
  border: 4px solid rgb(32, 205, 185);
  height: 650px;
  margin: 30px;
}
#popular .slider_pst {
  position: relative;
  overflow: hidden;
  display: grid;
  height: 100%;
  grid-template-columns: 50% 50%;
  justify-items: center;
  align-items: end;
  background-repeat: none;
  transition: background-image 0.2s;
  background-image: linear-gradient(86deg, #000000 46%, rgba(0, 0, 0, 0) 50%, #FFFFFF 57%, #FFFFFF 96%, rgba(0, 0, 0, 0.25) 98%, #000000 100%);
}
#popular .slider_pst p {
  padding-left: 20px;
  z-index: 1;
  font-family: "molot";
  margin: 30px;
  font-size: 25px;
  width: 100%;
}
#popular .slider_pst p .janr {
  display: block;
  width: 100%;
  padding: 10px;
  color: rgb(131, 131, 131);
  text-align: left;
  text-shadow: 0 0 4px black;
}
#popular .slider_pst p .name {
  padding-left: 10px;
  width: 100%;
  color: white;
  display: block;
  font-size: 1.5em;
  text-align: left;
}
#popular .slider_pst p a {
  box-shadow: 0px 0px 8px rgb(32, 205, 185), inset 0px 0px 8px rgb(32, 205, 185);
  margin-top: 20px;
  height: 35px;
  width: 300px;
  padding: 5px;
  border: 2px solid rgb(32, 205, 185);
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(32, 205, 185);
  transition: color 0.2s, background-color 0.2s;
}
#popular .slider_pst p a:hover {
  color: white;
  background-color: rgba(32, 205, 185, 0.6);
}
#popular .slider_pst .data_img {
  background-image: url(../images/drive.jpeg);
  background-size: cover;
  z-index: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: darken;
}
@media (min-width: 320px) and (max-width: 460px) {
  #popular {
    height: 310px;
  }
  #popular .slider_pst {
    grid-template-columns: 100%;
    background-image: radial-gradient(80% 50% at 70% 50%, #FFFFFF 0%, #F5F5F5 54.2%, #000000 100%);
  }
  #popular .slider_pst p {
    font-size: 18px;
  }
  #popular .slider_pst p .janr {
    color: #b3b3b3;
  }
  #popular .slider_pst p a {
    width: 150px;
  }
  #popular .data_img {
    left: 0;
    border-top: 0;
    position: absolute;
    background-position: -100px;
  }
}
@media (min-width: 461px) and (max-width: 720px) {
  #popular {
    height: 380px;
  }
  #popular .slider_pst {
    grid-template-columns: 100%;
    background-image: radial-gradient(80% 50% at 70% 50%, #FFFFFF 0%, #F5F5F5 54.2%, #000000 100%);
  }
  #popular .slider_pst p {
    font-size: 18px;
  }
  #popular .slider_pst p .janr {
    color: #b3b3b3;
  }
  #popular .slider_pst p a {
    width: 150px;
  }
  #popular .data_img {
    left: 0;
    border-top: 0;
    position: absolute;
    background-position: 0px;
  }
}
@media (min-width: 720px) and (max-width: 980px) {
  #popular {
    height: 420px;
  }
  #popular .slider_pst {
    grid-template-columns: 60% 40%;
    background-image: radial-gradient(50% 50% at 70% 50%, #FFFFFF 0%, #F5F5F5 54.2%, #000000 100%);
  }
  #popular .data_img {
    left: 0;
    border-top: 0;
    position: absolute;
    background-position: 150px;
  }
}
@media (min-width: 981px) and (max-width: 1439px) {
  #popular {
    height: 500px;
  }
  #popular .data_img {
    background-position: -100px;
  }
}
@media (min-width: 2600px) {
  #popular {
    height: 600px;
  }
  #popular .data_img {
    background-position: 0 -200px;
  }
}/*# sourceMappingURL=main.css.map */