#popular {
  z-index: 2;
  background-color: #000000;
  position: relative;
  box-shadow: 0px 0px 8px rgb(32, 205, 185);
  border: 4px solid rgb(32, 205, 185);
  height: 650px;
  margin: 30px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
#popular #dotsContainer {
  margin-top: 10px;
  z-index: 5;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 100%;
}
#popular #dotsContainer .dots {
  cursor: pointer;
  border-radius: 50%;
  box-sizing: border-box;
  padding: 0;
  box-shadow: none;
  border: 0px solid white;
  display: inline-block;
  background-color: rgb(32, 205, 185);
  position: relative;
  margin: 8px;
  width: 12px;
  height: 12px;
  transition: 1s border;
}
#popular .arrA {
  background-color: rgba(0, 0, 0, 0.637);
  box-sizing: border-box;
  position: absolute;
  width: 40px;
  height: 60px;
  box-shadow: 0px 0px 8px rgb(32, 205, 185), inset 0px 0px 8px rgb(32, 205, 185);
  border: 3px solid rgb(32, 205, 185);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
  z-index: 3;
  transition: background-color 0.5s;
}
#popular .arrA img {
  height: 100%;
}
#popular .arrA:hover {
  background-color: rgba(4, 41, 46, 0.637);
}
#popular #arrPR {
  right: -25px;
  transform: rotate(180deg);
}
#popular #arrPL {
  left: -25px;
}
#popular #popularCont {
  flex: 0 0 100%;
  margin: 0;
  height: 100%;
  width: 100%;
  padding: 0;
  overflow: hidden;
}
#popular .slider_pst {
  margin: 0;
  position: absolute;
  overflow: hidden;
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 40% 60%;
  justify-items: center;
  align-items: end;
  background-repeat: none;
  transition: background-image 0.2s, opacity 1s;
}
#popular .slider_pst p {
  position: relative;
  padding-left: 20px;
  z-index: 4;
  font-family: "molot";
  margin: 30px;
  font-size: 25px;
  width: 100%;
}
#popular .slider_pst p .janr {
  display: block;
  width: 100%;
  padding: 10px;
  color: rgb(131, 131, 131);
  text-align: left;
  text-shadow: 0 0 4px black;
}
#popular .slider_pst p .name {
  padding-left: 10px;
  width: 100%;
  color: white;
  display: block;
  font-size: 1.5em;
  text-align: left;
}
#popular .slider_pst p a {
  margin-top: 20px;
  height: 35px;
  width: 300px;
  padding: 5px;
  box-shadow: 0px 0px 8px rgb(32, 205, 185), inset 0px 0px 8px rgb(32, 205, 185);
  border: 2px solid rgb(32, 205, 185);
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(32, 205, 185);
  transition: color 0.2s, background-color 0.2s;
}
#popular .slider_pst p a:hover {
  color: white;
  background-color: rgba(32, 205, 185, 0.6);
}
#popular .slider_pst .shadowsImg {
  transition: 0.3s;
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  background: linear-gradient(86deg, rgb(1, 2, 20) 0%, rgb(0, 0, 0) 43%, rgba(84, 6, 17, 0) 46%, rgba(121, 9, 9, 0) 93%, rgb(0, 0, 0) 97%, rgb(0, 3, 29) 100%);
}
#popular .slider_pst .data_img {
  overflow: hidden;
  z-index: 0;
  width: 100%;
  height: 100%;
}
#popular .slider_pst .data_img img {
  position: relative;
  height: 100%;
  width: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 1670px) {
  #popular .slider_pst .data_img img {
    width: 100%;
    height: auto;
    top: -20px;
  }
}
@media (min-width: 1970px) {
  #popular .slider_pst .data_img img {
    top: -10%;
  }
}
@media (min-width: 600px) and (max-width: 980px) {
  #popular .slider_pst .data_img img {
    position: relative;
    width: 100%;
    height: auto;
  }
}
@media (max-width: 400px) {
  #popular .slider_pst .data_img img {
    left: -75px;
  }
}
@media (max-width: 460px) {
  #popular {
    height: 310px;
  }
  #popular .slider_pst {
    grid-template-columns: 85%;
    background-image: radial-gradient(80% 50% at 70% 50%, #FFFFFF 0%, #F5F5F5 54.2%, #01000a 100%);
  }
  #popular .slider_pst p {
    font-size: 15px;
  }
  #popular .slider_pst p .janr {
    color: #b3b3b3;
  }
  #popular .slider_pst p a {
    width: 150px;
  }
  #popular .slider_pst .shadowsImg {
    background: radial-gradient(80% 50% at 70% 50%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1921568627) 54.2%, #000313 100%);
  }
  #popular .data_img {
    left: 0;
    border-top: 0;
    position: absolute;
    background-position: -100px;
  }
}
@media (min-width: 461px) and (max-width: 720px) {
  #popular {
    height: 380px;
  }
  #popular .slider_pst {
    grid-template-columns: 100%;
  }
  #popular .slider_pst p {
    font-size: 18px;
  }
  #popular .slider_pst p .janr {
    color: #b3b3b3;
  }
  #popular .slider_pst p a {
    width: 150px;
  }
  #popular .slider_pst .shadowsImg {
    background: radial-gradient(80% 50% at 70% 50%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1921568627) 54.2%, #000313 100%);
  }
  #popular .data_img {
    left: 0;
    border-top: 0;
    position: absolute;
    background-position: 0px;
  }
}
@media (min-width: 720px) and (max-width: 980px) {
  #popular {
    height: 420px;
  }
  #popular .slider_pst {
    grid-template-columns: 60% 40%;
  }
  #popular .slider_pst .shadowsImg {
    background: radial-gradient(50% 50% at 70% 50%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.1921568627) 54.2%, #000000 100%);
  }
  #popular .slider_pst .data_img {
    display: flex;
    position: absolute;
    justify-content: center;
  }
}
@media (min-width: 981px) and (max-width: 1439px) {
  #popular {
    height: 500px;
  }
  #popular .slider_pst .shadowsImg {
    background: linear-gradient(86deg, rgb(1, 2, 20) 0%, rgb(0, 0, 0) 52%, rgba(84, 6, 17, 0) 56%, rgba(121, 9, 9, 0) 90%, rgb(0, 0, 0) 95%, rgb(0, 3, 29) 100%);
  }
  #popular .slider_pst img {
    left: 100px;
  }
}
@media (min-width: 981px) and (max-width: 1200px) {
  #popular .slider_pst img {
    left: -20px;
  }
}
@media (min-width: 2600px) {
  #popular {
    height: 700px;
  }
}

#afisha {
  height: 350px;
  margin: 30px;
  margin-top: 40px;
  display: flex;
  align-items: center;
}
#afisha .arrA {
  background-color: rgba(0, 0, 0, 0.637);
  box-sizing: border-box;
  position: absolute;
  width: 40px;
  height: 60px;
  box-shadow: 0px 0px 8px rgb(32, 205, 185), inset 0px 0px 8px rgb(32, 205, 185);
  border: 3px solid rgb(32, 205, 185);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  cursor: pointer;
  z-index: 3;
  transition: 0.5s;
}
#afisha .arrA img {
  width: 120%;
}
#afisha .arrA:hover {
  background-color: rgba(4, 41, 46, 0.637);
}
#afisha #arrLA {
  left: 10px;
}
#afisha #arrRA {
  right: 10px;
  transform: rotate(180deg);
}
@media (max-width: 375px) {
  #afisha {
    height: 300px;
  }
}

#afishaContent {
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.6);
  position: relative;
  box-shadow: 0px 0px 8px rgb(32, 205, 185), inset 0px 0px 8px rgb(32, 205, 185);
  border: 4px solid rgb(32, 205, 185);
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding-left: 20px;
}
#afishaContent #conveyorAfish {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  position: relative;
  transform: translatex(0px);
  transition: transform 0.8s;
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  flex-wrap: nowrap;
  align-items: stretch;
}
#afishaContent #conveyorAfish .poster {
  box-shadow: 0px 0px 8px rgb(32, 205, 185), inset 0px 0px 8px rgb(32, 205, 185);
  position: relative;
  box-sizing: border-box;
  flex: 0 0 200px;
  overflow: hidden;
  box-shadow: 0px 0px 8px rgb(32, 205, 185);
  border: 4px solid rgb(32, 205, 185);
  margin: 20px;
  align-items: center;
}
#afishaContent #conveyorAfish .poster img {
  height: 100%;
}
#afishaContent #conveyorAfish .poster .infoP {
  box-sizing: border-box;
  padding: 15px;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 205, 185, 0.6352941176);
  transition: 0.5s;
  display: grid;
  align-items: end;
  grid-template-rows: 190px 70px;
  font-size: 15px;
  font-family: "molot";
}
#afishaContent #conveyorAfish .poster .infoP p {
  padding: 5px;
  text-align: begin;
  margin: 0;
}
#afishaContent #conveyorAfish .poster .infoP p .janr {
  color: rgb(105, 104, 104);
  display: block;
  text-shadow: 0 0 4px rgb(180, 180, 180);
  margin-bottom: 5px;
}
#afishaContent #conveyorAfish .poster .infoP p .name {
  width: 100%;
  color: white;
  display: block;
  font-size: 1.5em;
  text-align: left;
  text-shadow: 0 0 4px rgb(0, 0, 0);
}
#afishaContent #conveyorAfish .poster .infoP a {
  box-shadow: 0px 0px 8px rgb(32, 205, 185), inset 0px 0px 8px rgb(32, 205, 185);
  font-size: 15px;
  height: 35px;
  width: 90%;
  padding: 5px;
  border: 2px solid rgb(32, 205, 185);
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(32, 205, 185);
  transition: color 0.2s, background-color 0.2s;
  background-color: rgba(0, 0, 0, 0.422);
}
#afishaContent #conveyorAfish .poster .infoP a:hover {
  color: white;
  background-color: rgba(32, 205, 185, 0.808);
  border-color: rgb(175, 231, 225);
}
@media (max-width: 375px) {
  #afishaContent #conveyorAfish .poster .infoP {
    grid-template-rows: 160px 60px;
    font-size: 12px;
    padding: 11px;
  }
}
#afishaContent #conveyorAfish .poster:hover .infoP {
  opacity: 1;
}
@media (max-width: 375px) {
  #afishaContent #conveyorAfish .poster {
    flex: 0 0 160px;
  }
}
@media (max-width: 375px) {
  #afishaContent {
    padding-left: 0px;
  }
}

#info {
  background-color: #000000;
  position: relative;
  box-shadow: 0px 0px 8px rgb(32, 205, 185);
  border: 4px solid rgb(32, 205, 185);
  height: 650px;
  margin: 30px;
}
#info .slider_inf {
  position: relative;
  overflow: hidden;
  display: grid;
  height: 100%;
  grid-template-columns: 50% 50%;
  justify-items: center;
  align-items: end;
  background-repeat: none;
  transition: background-image 0.2s;
  background-image: linear-gradient(86deg, #000000 35%, rgba(0, 0, 0, 0) 40%, #FFFFFF 45%, #FFFFFF 96%, rgba(0, 0, 0, 0.25) 98%, #000000 100%);
}
#info .slider_inf p {
  padding-left: 20px;
  z-index: 1;
  font-family: "molot";
  margin: 30px;
  font-size: 25px;
  width: 100%;
}
#info .slider_inf p .infoText {
  display: block;
  width: 100%;
  padding: 10px;
  color: rgb(249, 249, 249);
  text-align: left;
  text-shadow: 0 0 4px black;
}
#info .slider_inf p a {
  box-shadow: 0px 0px 8px rgb(32, 205, 185), inset 0px 0px 8px rgb(32, 205, 185);
  margin-top: 20px;
  height: 35px;
  width: 300px;
  padding: 5px;
  border: 2px solid rgb(32, 205, 185);
  border-radius: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(32, 205, 185);
  transition: color 0.2s, background-color 0.2s;
}
#info .slider_inf p a:hover {
  color: white;
  background-color: rgba(32, 205, 185, 0.6);
}
#info .slider_inf .data_img {
  transform: translatex(-50px);
  background-image: url(../images/kinozal.webp);
  background-size: cover;
  z-index: 0;
  width: 140%;
  height: 100%;
  mix-blend-mode: darken;
}
@media (min-width: 320px) and (max-width: 460px) {
  #info {
    height: 310px;
  }
  #info .slider_inf {
    grid-template-columns: 100%;
    background-image: radial-gradient(80% 50% at 70% 50%, #FFFFFF 0%, #F5F5F5 54.2%, #000000 100%);
  }
  #info .slider_inf p {
    font-size: 18px;
  }
  #info .slider_inf p .janr {
    color: #b3b3b3;
  }
  #info .slider_inf p a {
    width: 150px;
  }
  #info .data_img {
    left: 0;
    border-top: 0;
    position: absolute;
    background-position: -50px;
  }
}
@media (min-width: 461px) and (max-width: 720px) {
  #info {
    height: 380px;
  }
  #info .slider_inf {
    grid-template-columns: 100%;
    background-image: radial-gradient(80% 50% at 70% 50%, #FFFFFF 0%, #F5F5F5 54.2%, #000000 100%);
  }
  #info .slider_inf p {
    font-size: 18px;
  }
  #info .slider_inf p .janr {
    color: #b3b3b3;
  }
  #info .slider_inf p a {
    width: 150px;
  }
  #info .data_img {
    left: 0;
    border-top: 0;
    position: absolute;
    background-position: 0px;
  }
}
@media (min-width: 720px) and (max-width: 980px) {
  #info {
    height: 420px;
  }
  #info .slider_inf {
    grid-template-columns: 60% 40%;
    background-image: radial-gradient(50% 50% at 70% 50%, #FFFFFF 0%, #F5F5F5 54.2%, #000000 100%);
  }
  #info .data_img {
    left: 0;
    border-top: 0;
    position: absolute;
    background-position: 150px;
  }
}
@media (min-width: 981px) and (max-width: 1439px) {
  #info {
    height: 500px;
  }
  #info .data_img {
    background-position: -50px;
  }
}
@media (min-width: 2400px) {
  #info {
    height: 600px;
  }
  #info .data_img {
    background-position: 0 -50px;
  }
}
@media (min-width: 2600px) {
  #info {
    height: 600px;
  }
  #info .data_img {
    background-position: 0 -200px;
  }
}/*# sourceMappingURL=main.css.map */