@charset "UTF-8";
nav {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 8px rgb(32, 205, 185), inset 0px 0px 8px rgb(32, 205, 185);
          box-shadow: 0px 0px 8px rgb(32, 205, 185), inset 0px 0px 8px rgb(32, 205, 185);
  height: 70px;
  margin: 0;
  padding: 0;
  border: none;
  border-bottom: 4px solid;
  border-color: rgb(32, 205, 185);
  background: rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
nav img {
  margin-top: 5px;
  margin-left: 5px;
  height: 80%;
}
nav p {
  margin: -2px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-flex: 2;
      -ms-flex: 2 0 250px;
          flex: 2 0 250px;
}
nav p a {
  font-family: "ROBO";
  font-style: normal;
  font-size: 40px;
  color: white;
}
@media (max-width: 460px) {
  nav {
    height: 50px;
  }
  nav img {
    margin-top: 5px;
    height: 40px;
  }
  nav p {
    -webkit-box-flex: 2;
        -ms-flex: 2 0 200px;
            flex: 2 0 200px;
  }
  nav p a {
    font-size: 30px;
  }
}
@media (max-width: 375px) {
  nav {
    height: 40px;
  }
  nav img {
    margin-top: 5px;
    height: 35px;
  }
  nav p {
    -webkit-box-flex: 2;
        -ms-flex: 2 0 150px;
            flex: 2 0 150px;
  }
  nav p a {
    font-size: 24px;
  }
}

.burgerI {
  z-index: 0;
  position: absolute;
  height: 50px;
  display: none;
  cursor: pointer;
  right: 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media (max-width: 999px) {
  .burgerI {
    display: block;
    position: relative;
  }
}
@media (max-width: 460px) {
  .burgerI {
    height: 35px;
    right: 5px;
  }
}

#Bclose {
  right: 0;
  position: relative;
}

#burger_container {
  -webkit-box-shadow: 0px 0px 8px rgb(32, 205, 185), inset 0px 0px 8px rgb(32, 205, 185);
          box-shadow: 0px 0px 8px rgb(32, 205, 185), inset 0px 0px 8px rgb(32, 205, 185);
  z-index: 40;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
  -webkit-box-flex: 3;
      -ms-flex: 3 1 600px;
          flex: 3 1 600px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  -webkit-transition: left 0.8s;
  -o-transition: left 0.8s;
  transition: left 0.8s;
}
#burger_container a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 2;
  -webkit-box-shadow: 0px 0px 8px rgb(32, 205, 185), inset 0px 0px 8px rgb(32, 205, 185);
          box-shadow: 0px 0px 8px rgb(32, 205, 185), inset 0px 0px 8px rgb(32, 205, 185);
  font-size: 20px;
  line-height: 20px;
  white-space: nowrap;
  border-left: 4px rgb(32, 205, 185) solid;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 30%;
          flex: 1 0 30%;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: rgb(32, 205, 185);
  -webkit-transition: color 0.2s, background-color 0.2s;
  -o-transition: color 0.2s, background-color 0.2s;
  transition: color 0.2s, background-color 0.2s;
}
#burger_container a:hover {
  color: white;
  background-color: rgba(32, 205, 185, 0.6);
}
@media (max-width: 999px) {
  #burger_container {
    border-radius: 5px;
    border: 3px solid rgb(32, 205, 185);
    margin: 0;
    padding: 8px;
    position: fixed;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 10%);
    justify-items: end;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100vh;
    background-color: #1A181D;
    opacity: 0.95;
    z-index: 4;
    left: -120vh;
  }
  #burger_container a {
    position: relative;
    margin: 5px;
    width: calc(100% - 25px);
    border: 3px solid rgb(32, 205, 185);
    border-radius: 5px;
  }
}
@media (max-width: 460px) {
  #burger_container {
    width: 100vw;
  }
}

footer {
  margin-left: 50px;
  margin-right: 50px;
  border-top: 1px solid #585858;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #585858;
}
footer img {
  margin-left: 10px;
  width: 40px;
}
footer p {
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html, body {
  min-height: 100vh;
  height: 100%;
}

body {
  position: relative;
  background-color: #1A181D;
  padding: 0;
  margin: 0;
  background-image: url(../images/dotsup.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
}

::-webkit-scrollbar {
  width: 10px; /* ширина полосы прокрутки */
}

::-webkit-scrollbar-track {
  background: #1A181D; /* цвет фона трека */
}

::-webkit-scrollbar-thumb {
  background: rgb(32, 205, 185); /* цвет полосы прокрутки */
  border-radius: 5px; /* скругление углов полосы прокрутки */
}

#wrap {
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: auto;
  min-height: 98vh;
  padding-bottom: 10px;
}

#dotsdown {
  z-index: 0;
  position: absolute;
  width: 100%;
  height: auto;
  bottom: -10px;
  padding: 0;
  margin: 0;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}
#dotsdown img {
  margin-bottom: -10px;
  width: 100%;
}
@media (min-width: 1900px) {
  #dotsdown {
    opacity: 0;
  }
}

a {
  font-family: "rubik mono";
  text-decoration: none;
}

.main_contaner {
  z-index: 1;
  -webkit-box-shadow: 0px 0px 8px rgb(32, 205, 185), inset 0px 0px 8px rgb(32, 205, 185);
          box-shadow: 0px 0px 8px rgb(32, 205, 185), inset 0px 0px 8px rgb(32, 205, 185);
  position: relative;
  left: 0;
  min-height: 96vh;
  background: rgba(0, 0, 0, 0.521);
  border: 4px solid rgb(32, 205, 185);
  border-radius: 10px;
  margin: 12px;
  width: calc(100% - 34px);
  padding: 0;
  margin-top: 10px;
}