#afisha{
    height: 350px;
    margin: 30px;
    margin: 30px;
    display: flex;
    align-items: center;
    .arrA{
        background-color: rgba(0, 0, 0, 0.637);
        box-sizing: border-box;
        position: absolute;
        width: 40px;
        height: 60px;
        @include neon;
        border: 3px solid $maincolor;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        cursor: pointer;
        img{
            height: 100%;
        }
        z-index: 3;
        transition: 0.5s;
        &:hover{
            background-color: rgba(4, 41, 46, 0.637);
        }
    }
    #arrLA{
        left: 10px;
    }
    #arrRA{
        right: 10px;
        transform: rotate(180deg);
    }
}


#afishaContent{
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.6);
    position: relative;
    @include neon;
    //box-shadow: 0px 0px 8px $maincolor;
    border: 4px solid $maincolor;
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding-left: 20px;
    #conveyorAfish{
        box-sizing: border-box;
        padding: 0;
        margin: 0;
        position: relative;
        transform: translatex(0px);
        transition: transform 0.8s;
        height: 100%;
        width: fit-content;
        display: flex;
        flex-wrap: nowrap;
        align-items: stretch;
        .poster{
            @include neon;
            position: relative;
            box-sizing: border-box;
            flex: 0 0 200px;
            overflow: hidden;
            box-shadow: 0px 0px 8px $maincolor;
            border: 4px solid $maincolor;
            margin: 20px;
            img{
                height: 100%;
            }
            .infoP{
                box-sizing: border-box;
                padding: 15px;
                opacity: 0;
                position: absolute;
                width: 100%;
                height: 100%;
                background-color: #20cdb9a2;
                transition: 0.5s;
                display: grid;
                align-items: end;
                grid-template-rows: 190px 70px;
                font-size: 15px;
                font-family: 'molot';
                p{
                    padding: 5px;
                    text-align: begin;
                    margin: 0;
                    .janr{
                        //border: 1px solid white;
                        color: rgb(105, 104, 104);
                        display: block;
                        text-shadow: 0 0 4px rgb(180, 180, 180);
                        margin-bottom: 5px;
                    }
                    .name{
                       // border: 1px solid white;
                        width: 100%;
                        color: white;
                        display: block;
                        font-size: 1.5em;
                        text-align: left;
                        text-shadow: 0 0 4px rgb(0, 0, 0);
                    }
                }
                a{
                    @include neon;
                    font-size: 15px;
                    height: 35px;
                    width: 90%;
                    padding: 5px;
                    border: 2px solid $maincolor;
                    border-radius: 10px;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: $maincolor;
                    transition: color 0.2s, background-color 0.2s;
                    background-color: rgba(0, 0, 0, 0.422);
                    &:hover{
                        color: white;
                        background-color: rgba(32, 205, 185, 0.808);
                        border-color: rgb(175, 231, 225);
                    }
                }
            }
            &:hover{
                .infoP{
                    opacity: 1;
                }
            }
        }
    }
    
   // padding: 2%;
    
}