#popular{
    background-color: #000000;
    position: relative;
    box-shadow: 0px 0px 8px $maincolor;
    border: 4px solid $maincolor;
    height: 650px;
    margin: 30px;
    padding:0;
    display: flex;
    align-items: center;
    
    .arrA{
        background-color: rgba(0, 0, 0, 0.637);
        box-sizing: border-box;
        position: absolute;
        width: 40px;
        height: 60px;
        @include neon;
        border: 3px solid $maincolor;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        cursor: pointer;
        img{
            height: 100%;
        }
        z-index: 3;
        transition: background-color 0.5s;
        &:hover{
            background-color: rgba(4, 41, 46, 0.637);
        }
    }
    #arrPR{
        right: -25px;
        transform: rotate(180deg);
    }
    #arrPL{
        left: -25px;
    }
    #popularCont{
        margin: 0;
        height: 100%;
        width: 100%;
        padding: 0;
        overflow: hidden;
    }
    .slider_pst{
        margin: 0;
        position: absolute;
        overflow: hidden;
        display: grid;
        height: 100%;
        width: 100%;
        grid-template-columns: 40% 60%;
        justify-items: center;
        align-items: end;
        background-repeat: none;
        transition: background-image  0.2s, opacity 1s;
        
        p{
            position: relative;
           // background-color: blue;
            padding-left: 20px;
            z-index: 4;
            font-family: 'molot';
            margin: 30px;
            //border: 2px solid $maincolor;
            font-size: 25px;
            width: 100%;
            .janr{
                display: block;
                width: 100%;
                //border: 1px solid white;
                padding: 10px;
                color: rgb(131, 131, 131);
                text-align: left;
                text-shadow: 0 0 4px black;
            }
            .name{
                padding-left: 10px;
               // border: 1px solid white;
                width: 100%;
                color: white;
                display: block;
                font-size: 1.5em;
                text-align: left;
            }
            a{
                @include neon;
                margin-top: 20px;
                height: 35px;
                width: 300px;
                padding: 5px;
                border: 2px solid $maincolor;
                border-radius: 10px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $maincolor;
                transition: color 0.2s, background-color 0.2s;
                &:hover{
                    color: white;
                    background-color: rgba(32, 205, 185, 0.6);
                }
            }
        }
        .shadowsImg{
            transition: 0.3s;
            position: absolute;
            z-index: 1;
            height: 100%;
            width: 100%;
            background: linear-gradient(86deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 43%, rgba(84,6,17,0) 46%, rgba(121,9,9,0) 93%, rgba(0,0,0,1) 97%, rgba(0,0,0,1) 100%);
        }
        .data_img{
            overflow: hidden;
            img{
                position: relative;
                height: 100%;
                width: auto;
                @media (min-width: 2400px) {
                    width: 100%;
                    height: auto;   
                    top: -50px;
                }
            }
            z-index: 0;
            width: 100%;
            height: 100%;
          //  mix-blend-mode: darken;
            //background-position: 0px;
            //order: 2px solid white;
        }
    }
    @media(min-width: 320px) and (max-width: 460px) {
        height: 310px;
        .slider_pst{
            grid-template-columns: 100%;
            background-image: radial-gradient(80% 50% at 70% 50%, #FFFFFF 0%, #F5F5F5 54.2%, #000000 100%);
            p{
                font-size: 18px;
                .janr{color: #b3b3b3;}
                a{
                    width: 150px;
                }
            }
        }
        .data_img{
            left: 0;
            border-top: 0;
            position: absolute;
            background-position: -100px;
        }
    } 
    @media(min-width: 461px) and (max-width: 720px) {
        height: 380px;
        .slider_pst{
            p{
                font-size: 18px;
                .janr{color: #b3b3b3;}
                a{
                    width: 150px;
                }
            }
            grid-template-columns:100%;
            background-image: radial-gradient(80% 50% at 70% 50%, #FFFFFF 0%, #F5F5F5 54.2%, #000000 100%)
        }
       
        .data_img{
            left: 0;
            border-top: 0;
            position: absolute;
            background-position: 0px;
        }
    }
    @media(min-width: 720px) and (max-width: 980px) {
        height: 420px;
        .slider_pst{
            grid-template-columns: 60% 40%;
            background-image: radial-gradient(50% 50% at 70% 50%, #FFFFFF 0%, #F5F5F5 54.2%, #000000 100%)
        }
        .data_img{
            left: 0;
            border-top: 0;
            position: absolute;
            background-position: 150px;
        }
    }
    @media (min-width:981px) and (max-width: 1439px) {
        height: 500px;
    }
   
    @media (min-width: 2600px) {
        height: 700px;
    }
}