@import "_loading.scss";

@font-face {
    font-family: 'Molot';
    src: url(../fonts/Molot.otf);
}
@font-face {
    font-family: 'Robo';
    src: url(../fonts/robo.ttf);
}
@font-face {
    font-family: 'grus';
    src: url(../fonts/Grus.ttf);
}
@font-face {
    font-family: 'bulksans';
    src: url(../fonts/Bulksans.ttf);
}
@font-face {
    font-family: 'rubik mono';
    src: url(../fonts/RubikMonoOne-Regular.ttf);
}
@font-face {
    font-family: 'Bdeogale';
    src: url(../fonts/\(Unranked\)-Bdeogale.ttf);
}