@import "_vars.scss";
@import "_mixin.scss";

body{
    background-image: url(../images/bg_dote.png);
    background-size: cover;
    padding: 0px;
}
a{
    font-family: 'rubik mono';
    text-decoration: none;
}
.main_contaner{
    @include neon;
    position: absolute;
    left: 0;
    border-color: $maincolor;
    background: rgba(0, 0, 0, 0.2);
    border: 4px solid $maincolor;
    border-radius: 10px;
    margin: 10px;
    width: calc(100% - 34px);
    padding: 0;
}
nav{
    @include neon;
    height: 70px;
    margin: 0;
    padding: 0;
    border-bottom: 4px solid;
    border-color: $maincolor;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    img{
        margin-left: 5px;
        flex: 0 0 69;
    }
    p{
        margin: -2px;
        font-family: 'ROBO';
        font-style: normal;
        font-size: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        flex: 1 0 200px;
    }
    a{
        @include neon;
        font-size: 20px;
        line-height: 20px;
        white-space: nowrap;
        border: 4px solid $maincolor;
        border-top: none;
        border-bottom: none;
        flex: 1 0 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $maincolor;
        transition: color 0.2s, background-color 0.2s;
    }
}

.navbt{
    &:hover{
        color: white;
        background-color: rgba(32, 205, 185, 0.6);
    }
}


#popular{
    position: relative;
    @include neon;
    border: 4px solid $maincolor;
    height: 400px;
    margin: 40px;
    .slider_pst{
        position: relative;
        overflow: hidden;
        display: grid;
        height: 100%;
       // border: 2px solid red;
        p{
            border: 2px solid $maincolor;
        }
        a{
            border: 2px solid $maincolor;
            color: $maincolor;
        }
        img{
        //    border: 2px solid $maincolor;
        }
    }
}

