@import "_vars.scss";
@import "_mixin.scss";

body{
    background-color: #1A181D;
    &::before{
        content: "";
        position: absolute;
        top: 0; left: 0;
        width: 100vw; height: 100vh;
        background-image: url(../images/bg_dote.png);
        filter: opacity(20%);
        background-size: cover;
        
    }
    padding: 0px;
}
.main_contaner{
    overflow: hidden;
    @include neon;
    position: absolute;
    left: 0;
    border-color: $maincolor;
    background: rgba(0, 0, 0, 0.2);
    border: 4px solid $maincolor;
    border-radius: 10px;
    margin: 10px;
    height: calc(100vh - 40px);
    width: calc(100vw - 30px);
    padding: 0;
}
nav{
    @include neon;
    height: 70px;
    margin: 0;
    padding: 0;
    border-bottom: 4px solid;
    border-color: $maincolor;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    img{
        margin-left: 5px;
        flex: 0 0 69;
    }
    p{
        font-family: 'ROBO';
        font-style: normal;
        font-size: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        flex: 1 0 200px;
    }
    a{
        @include neon;
        margin: -2px;
        font-family: 'rubik mono';
        //Bdeogale 'rubik mono' bulksans Molot
        font-size: 20px;
        line-height: 20px;
        text-decoration: none;
        white-space: nowrap;
        border: 4px solid $maincolor;
        border-top: none;
        border-bottom: none;
        flex: 1 0 200px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $maincolor;
        transition: color 0.2s, background-color 0.2s;
       // overflow: hidden;
        position: relative;
    }
}

.navbt{
    &:hover{
        color: white;
        background-color: rgba(32, 205, 185, 0.6);
    }
}
